html,body
{
    height: 100%;
    direction: rtl;
}


p,button,h3,h4
{
    outline: none;
}
/* start top nav */ 

.navbar-top
{
    padding: 10px 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 2; 
}

.right-button-show
,.right-button-show:hover
,.right-button-show:focus
{
    color: black;
    font-size: 25px;
    right: 0;
    margin: 5px 20px;
    position: absolute;
    text-decoration: none;
    display: none;
    cursor: pointer;
}

#left-login 
{
    color: #ba8c56;
    margin: 0px 30px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}

/* end top navbar  */

/* start slide navbar */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    background:url("../img/BGpattern.png")center center no-repeat;
    background-size:cover;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    right: 0;
    top: 0;
    overflow-x: hidden;

}

.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 30px 0;
    font-weight: 400;
    font-family: 'Cairo', sans-serif;
    transition: 0.2s;

}

.sidenav .active a
{
    
    color: #ba8c56;
}

.sidenav #top-li
{
    margin: 0px 10px 90px 10px;
    display: block;
}

.sidenav #top-li #right-button-hide
{
    font-size: 25px;
    color: white;
    text-align: right;
    display: inline;
    position: absolute;
    right: 20px;
    margin-top: 10px;
    cursor: pointer;
    
}

.sidenav #top-li #company-name
{
    margin: 15px auto;
    font-size: 25px;
    color: white;
    display: inline;
    position: absolute;
    right: 0;
    left: 0;
    font-weight: 600;
    cursor: pointer;
    margin: 8px auto;   
}

.sidenav #jewelery
{
    color: white;
    margin-bottom: 80px;
    font-weight: bold;

}

/* full width of sidenav in mobiles and tablets */

@media (max-width:800px)
{
    .sidenav
    {
        width: 100%;
    }
}

/* end slide navbar */

/* <<<<<<<<<<<<<<<<<  start page >>>>>>>>>>>>>>>>>>>>>>>>> */

.page-1
{
    background-color: #ebeff2;
    transition: 0.5s ;
    padding-right: 270px;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-top: 108px;
    position: relative;
    height: 100%;
    
}

@media(max-width:800px)
{
    .page-1
    {
        padding-right: 0;
    }
    
}


/* end page */

/* start form container */

.page-1 .form-container
{
    background-color: rgba(255, 255, 255, 0.56);
    box-shadow: -2px -2px 2px #dad8d8 ,
                2px 2px 2px #dad8d8;
    padding: 10px;
    height: 100%;
    
}

/* end form container */

